*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:url(hero.jpg) center/cover fixed;
  color:#fff;
}

/* NAVBAR */
header{
  background:rgba(0,0,0,0.85);
  position:sticky;
  top:0;
  z-index:1000;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
}

.logo{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo img{
  width:85px;
}

.logo span{
  font-size:28px;
  font-weight:800;
  color:red;
}

.menu a{
  text-decoration:none;
  margin-left:15px;
  padding:10px 18px;
  background:red;
  color:white;
  border-radius:6px;
  font-weight:600;
}

.menu a:hover{
  background:#b00000;
}

/* COMMON SECTION */
.section{
  background:rgba(0,0,0,0.78);
  padding:70px 20px;
  min-height:calc(100vh - 100px);
}

h1,h2{
  text-align:center;
  margin-bottom:20px;
}

p{
  max-width:900px;
  margin:12px auto;
  line-height:1.8;
  font-size:17px;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  max-width:1200px;
  margin:40px auto;
}

.card{
  background:#111;
  border:2px solid red;
  border-radius:12px;
  padding:15px;
  text-align:center;
}

.card img{
  width:100%;
  border-radius:10px;
}

/* BMI */
.bmi-box{
  max-width:550px;
  margin:40px auto;
  background:#111;
  padding:35px;
  border-radius:15px;
  border:2px solid red;
}

.bmi-box input,
.bmi-box select,
.bmi-box button{
  width:100%;
  padding:15px;
  margin-bottom:15px;
  font-size:16px;
  border-radius:6px;
  border:none;
}

.bmi-box button{
  background:red;
  color:white;
  font-weight:700;
  cursor:pointer;
}

/* SOCIAL FLOAT BUTTONS */
.float{
  position:fixed;
  right:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
  bottom:20px;
  z-index:999;
}

.float a{
  background:#111;
  color:white;
  padding:15px;
  border-radius:50%;
  font-size:22px;
  text-decoration:none;
  border:2px solid red;
  text-align:center;
}

/* FOOTER */
footer{
  background:black;
  text-align:center;
  padding:20px;
  font-weight:600;
}

/* RESPONSIVE */
@media(max-width:768px){
  .navbar{
    flex-direction:column;
    gap:15px;
  }
  .menu a{
    margin:5px;
    display:inline-block;
  }
}
